.home h1{
    color: darkcyan;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.home .img-1{
    width: 100%;
}

.home h5{
    color: #333;
    text-align: center;
    padding: 25px;
}
.home .img-2{
    width: 25%;
}