.login {
    background-color: #ebeeef;
}

.login h1{
    color:darkcyan;
    padding-top: 20px;
}

.login .form {
    max-width: 450px;
    padding: 20px;    
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border:1px solid #c5ccd0;
    background-color: white;
    border-radius: 4px;
}