.menu {
    display: flex;
    justify-content: space-around;
    align-items: 60px;
    padding: 5px;
    background-color: lightgray;
    color: aqua;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bolder;
}

a:hover {
    color: red;
}